@font-face {
    font-family: 'iransans';
    src: URL('/Iranian\ Sans.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #fafafa;
    font-family: "iransans";
    height: 100%;
    font-size: 62.5%;
}
div {
    height: 100%;
}
button{
    cursor: pointer;
}

.saken {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5f2fe;
    width: 100%;
    height: 70px;
}

.sakenContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 75%;
    height: 100%;
}
@media only screen and (max-width:1470px){
    .sakenContainer{
        width: 90%;
    }
}
@media only screen and (max-width:1236){
    .sakenContainer{
        width: 100%;
    }
}
.cross {
    font-size: 1.5rem;
    color: #1780df
}

.cross:hover {
    cursor: pointer;
    color: #ee6b64;
}


.saken-text {
    color: #6e7794;
    font-size: 1rem;
    font-weight: 400;
    font-family: "iransans";
    direction: rtl;
}

.button {
    cursor: pointer;
    background-color: #1780df;
    font-family: "iransans";
    font-weight: 100;
    font-size: .9rem;
    display: flex;
    margin-right: auto;
    height: 3rem;
    width: 11rem;
    justify-content: center;
    color: white;
    align-items: center;
    border-radius: 10px;
}

.menuBar {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.menuContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    height: 100%;
}

.navContainer {
    display: flex;
    flex-direction: row-reverse;
    line-height: 80px;
    display: flex;
    list-style: none;
    position: relative;
}

.menuLogo img {
    height: 75%;
    width: 150px;
    margin-top: 3px;
}

.navContainer li {
    font-family: "iransans";
    display: flex;
    margin-left: 50px;
    font-size: 1rem;
    font-weight: 400;
    color: #3b4157;
}

.navContainer li:hover {
    cursor: pointer;
    color: #fb815e;
}

.navContainer li div {
    height: 100%;
    width: 10%;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    font-family: "iransans";
    background-color: #ededed;
    direction: rtl;
    height: 40px;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    color: #1780df;
    margin-top: 19px;
    margin-right: auto;
}
.modal{
    background-color: white;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 30rem;
    position: absolute;
    top: 5rem;
    right: 7rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;


}
.rightModalContainer{
    margin-right: 1rem;
    width: 30%;
    height: 100%;

}
.rightModalContainerMenu{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.rightModalContainerMenu>li {
    display: flex;
    direction: rtl;
    font-size: .8rem;
}
.rightModalContainerMenu>li>img {
    margin-left: .5rem;
}
.middleModalContainer{
    margin-right: 1rem;
    width: 30%;
    height: 100%;

}
.leftModalContainer{
    margin-right: 1rem;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftModalContainer img{
    height: 90%;
}
.otherSpecials{
    background-color:white ;
    border:2px solid #fb815e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fb815e;
    width: 60%;
    height: 3rem;
    font-family: "iransans";
    font-size: 1rem;
    border-radius: 10px;
    transition: all .2s;

}
.otherSpecials:hover{
    background-color:#fb815e ;
    color: white;
}
.specialList:hover + .modal{
    display: flex;


}
.navigationContainer{
    width: 70%;
    height: 2rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: row-reverse;

}
.nav--list{
    font-size: .9rem;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.nav--item{
    display: flex;
    flex-direction: row-reverse;
} 
.nav--item span{
    margin-right: .1rem;
}
.nav--item:not(:last-child){

    color: #1780df;
}
.nav--item:last-child{
    color: #6e7794;
}
.bestDoctorsBoxContainer{
    background-color: #1780df;
    width: 70%;
    height: 7rem;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 1rem;
    direction: rtl;
    color: white;
    display: flex;
    flex-direction: column;
}
.bestDoctorsBoxHeader{
    font-size: 1.6rem;

}
.bestDoctorsBoxText{
    margin-top: auto;
    font-size: 1rem;
}
.mainBoxContainer{
    width: 70%;
    height: 100vh;
    margin: 1rem auto;
    display: flex;
    flex-direction: row-reverse;
}
.rightBoxContainer{

    height: 100%;
    width: 25%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.leftBoxContainer{
    flex: 1;
    background-color: yellowgreen;
}
.rightBoxHeaderImage{
    width: 100%;
    height: 30%;
    border-radius: 10px;
}
.searchBoxContainer{
    border: 1px solid rgba(0,0,0,.125);
    height: 25%;
    border-radius: 20px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    padding:1.5rem;
    margin-bottom: 1rem;
}
.searchBoxHeader{
    color:#3b4157;
    direction: rtl;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.searchBoxBottomContainer{
    flex: 1;
    margin-top: .5rem;
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid #ededed;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchBar{
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    outline: none;
    background-color: #f3f0f0;
    padding: 1.9rem;
    direction: rtl;
    font-size: .7rem;
    font-family: "iransans";
}
.search__icon{
    fill:#6e7794;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    z-index: 10;
    right: .5rem;
}
.menuBox{
    background-color: violet;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
}
.menuBox span{
    margin-right: auto;
    color: #1780df;
    font-size: 1.5rem;
}
.menuBox:hover{
cursor: pointer;
}
.merge{
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
   
}
.merging{
   
    height: 100%;
    width: 26%;
    display: flex;
    padding: 1rem;
    flex-direction: row-reverse;
    align-items: center;
   
}
.merging h1{
    font-size: .8rem;
    display: flex;
    direction: rtl;
    margin-right: 1rem;
    
}
.choose{
    background-color: #1780df;
    height: 70%;
    color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 10%;
}
.satisfaction{
    background-color: white;
    height: 70%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 1rem;
    color: #6e7794;
}
.soon{
    background-color: white;
    height: 70%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 1rem;
    color: #6e7794;
}
.bestDoctor{
    background-color: white;
    height: 50%;
    width: 100%;
    border-radius: .5rem;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
    border: 1px solid  rgba(0,0,0,.125) ;
}
.bestDoctor:hover{
    cursor: pointer;
    border: 1px solid red;
}
.RightBestDoctor{
    background-color:white;
    display: flex;
    border-radius: .5rem;
    flex-direction: row-reverse;
    height: 100%;
    width: 60%;
    
}
.imageBestDoctor{
    
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}
.imageBestDoctor img{
    
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}
.informationOfDoctor{
    padding:1rem;
    background-color: white;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    direction: rtl;
  
   
}
.stars{
    background-color:white;
    height: 10%;
    width: 50%;
    margin-top: 1rem;
}
.stars span{
    color: #1780df;
}
.stars svg{
    color: #1780df;
    fill: #1780df;
}
.tashkhis{
    color: #1780df;
}
.informationOfDoctor span{
    margin-top: 3rem;
    font-size: 1rem;
}
.informationOfDoctor h2{
    font-size: 1.5rem;
}
.leftBestDocotr{
    
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 1rem;
}
.top-side{
    background-color: #d7f5f8;
    height: 20%;
    width: 50%;
    color: #1780df;
    display: flex;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}
.center-side{
    background-color:#d7f5f8 ;
    margin-top: .8rem;
    border-radius: .5rem;
    height: 50%;
    width: 97%;
}

.firstLine{
    height: 33.3%;
    width: 100%;
    color: #6e7794;
    
    display: flex;
align-items: center;
padding: 1rem;
}
.firstLine span{
    font-size: .8rem;
}
.secondLine{
    height: 33.3%;
    width: 100%;
 
    display: flex;
align-items: center;
color: #6e7794;
padding: 1rem;

}
.secondLine span{
    font-size: .8rem;
}
.thirdLine{
    height: 33.3%;
    width: 100%;
    
    display: flex;
align-items: center;
color: #6e7794;
padding: 1rem;   

}
.thirdLine span{
    font-size: .8rem;
}
.down-side{
 
    width: 100%;
    border-radius: .5rem;
    height: 50%;
    margin-top: .5rem;
}
.first-line{
   
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
}
.signupButton{
    width: 70%;
    height: 70%;
    background-color: #f85b2f;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: "iransans";
    position: relative;
    z-index: 1;
    border: none;
    transition: all .5s;
}
.signupButton::before{
    transition: all .5s;
    position: absolute;
    right:0;
    content: "";
    height: 100%;
    width: 5rem;
    background-color: #c4978b;
    border-radius: 15px;
    z-index: -1;
}
.signupButton:hover::before{
    width: 100%;
}
.signupButtonIcon{
    position: relative;
    margin-right: 5%;
    text-align: center;
    margin-left: 30%;
    font-size-adjust: 20px;
    color: white;
    z-index: 12;
}

.heartDiv{
    width: 20%;
    height: 70%;
    margin-right: 1rem;
    background-color: #ededed;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heartDiv svg:hover{
    cursor: pointer;
    fill: red;
    color: red;
}
.down-side p{
    margin-right: 4rem;
    color: #4dcc6b;
}