@font-face {
    font-family: 'iransans';
    src: URL('/Iranian\ Sans.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #fafafa;
    font-family: "iransans";
    height: 100%;
    font-size: 62.5%;
}
div {
    height: 100%;
}
button{
    cursor: pointer;
}

.saken {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5f2fe;
    width: 100%;
    height: 70px;
}

.sakenContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 75%;
    height: 100%;
}
@media only screen and (max-width:1470px){
    .sakenContainer{
        width: 90%;
    }
}
@media only screen and (max-width:1236){
    .sakenContainer{
        width: 100%;
    }
}
.cross {
    font-size: 1.5rem;
    color: #1780df
}

.cross:hover {
    cursor: pointer;
    color: #ee6b64;
}


.saken-text {
    color: #6e7794;
    font-size: 1rem;
    font-weight: 400;
    font-family: "iransans";
    direction: rtl;
}

.button {
    cursor: pointer;
    background-color: #1780df;
    font-family: "iransans";
    font-weight: 100;
    font-size: .9rem;
    display: flex;
    margin-right: auto;
    height: 3rem;
    width: 11rem;
    justify-content: center;
    color: white;
    align-items: center;
    border-radius: 10px;
}

.menuBar {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.menuContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    height: 100%;
}

.navContainer {
    display: flex;
    flex-direction: row-reverse;
    line-height: 80px;
    display: flex;
    list-style: none;
    position: relative;
}
.magni{
    margin-top: .4rem;
}
.menuLogo img {
    height: 75%;
    width: 150px;
    margin-top: 3px;
}

.navContainer li {
    font-family: "iransans";
    display: flex;
    margin-left: 50px;
    font-size: 1rem;
    font-weight: 400;
    color: #3b4157;
}

.navContainer li:hover {
    cursor: pointer;
    color: #fb815e;
}

.navContainer li div {
    height: 100%;
    width: 10%;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    font-family: "iransans";
    background-color: #ededed;
    direction: rtl;
    height: 40px;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    color: #1780df;
    margin-top: 19px;
    margin-right: auto;
}
.loginButton:hover{
    cursor: pointer;
}
.modal{
    background-color: white;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 30rem;
    position: absolute;
    top: 5rem;
    right: 7rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;


}
.rightModalContainer{
    margin-right: 1rem;
    width: 30%;
    height: 100%;

}
.rightModalContainerMenu{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.rightModalContainerMenu>li {
    display: flex;
    direction: rtl;
    font-size: .8rem;
}
.rightModalContainerMenu>li>img {
    margin-left: .5rem;
}
.middleModalContainer{
    margin-right: 1rem;
    width: 30%;
    height: 100%;

}
.leftModalContainer{
    margin-right: 1rem;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftModalContainer img{
    height: 90%;
}
.otherSpecials{
    background-color:white ;
    border:2px solid #fb815e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fb815e;
    width: 60%;
    height: 3rem;
    font-family: "iransans";
    font-size: 1rem;
    border-radius: 10px;
    transition: all .2s;

}
.otherSpecials:hover{
    background-color:#fb815e ;
    color: white;
}
.specialList:hover + .modal{
    display: flex;


}
.searchIcon{
    color: #1780df;
    width: 1rem;
    height: 1rem;
    margin-left: auto;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBody{
    height: 100%;
    width: 73%;
    margin: 10px auto;
    display: flex;
    flex-direction: row-reverse;
    }

.specialitiesBoxContainer{
        flex:1;
        border-radius: 10px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
    }
.specialitiesBox{
    margin-right: 70px;
    padding: 15px;
    background-color: white;
    color: #6e7794;
    border:1px solid rgba(0,0,0,.125);
    border-radius: 20px;
    margin-bottom: 2rem;
    margin-top: .7rem;
    height: 20rem;
    width: 26%;
    display: flex;
    flex-direction: column;
} 
.specialitiesBox:hover{
    border:1px solid rgb(251, 129, 94);
    cursor: pointer;

}
.specialityHeader{
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;

}
.specialityImage{
    width: 25%;
}
.specialityDescription{
    text-align: justify;
    line-height: 1.5rem;
    direction: rtl;
    font-size: 12px;
}
.specialityTitle{
    margin-top: 25px;
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}
.specialitiesBottomBox{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 1rem;

}
.pezeshkanContainer{
    width: 50%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.moshahedeButton{
    font-size: 1rem;
    border:2px solid rgb(251, 129, 94);
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    color: rgb(251, 129, 94);
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    transition: all .3s;
}


.moshahedeButton:hover{
    background-color:rgb(251, 129, 94);
    color: white;
}
.moshahedeButton span{
    margin-right: auto;
}
.pezeshkanImageContainer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}
.pezeshkanImageContainer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -10px;
}
.pezeshkCount{
    font-size: .5rem;
    direction: rtl;
    margin-top: -1rem;
}

.scrollBar{
    margin-top: .9rem;
        width: 20%;
        height: 50rem;
        border-radius: 10px;
        margin-left: 1.1rem;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0,0,0,.125);

    }
.allSpecialities{
    width:100%;
    height: 5rem;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction:column;
    color:#3b4157
}
.allSpecialitiesTopContainer{
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    font-size: 1rem;
}
.allSpecialities__icon{
    fill: #3b4157;
    transform: rotateY(180deg);
    width: 24px;
    height: 24px;
    margin-left: 1rem;
}
.inOrder{
    direction: rtl;
    font-size: .7rem;
    color:#3b4157;
    margin-top: -1.5rem;
    margin-right: 1.7em;
}
.specialitiesBottomContainer{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}
.searchBarContainer{

    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin: 1rem auto;
    padding: 1rem;
  
}
.specialitiesSearchBar{
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.125);
    width: 95%;
    direction: rtl;
    font-family: "iransans";
    font-size: .6rem;
    border: none;
    border-radius: 5px 0 0 5px;
}
.search__icon{
    fill: #1780df;
    width: 10%;
    margin-left: .5rem;
}
.scrollContainer{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 1rem;
}
.alef{
    direction: rtl;
    background-color: #e5f2fe;
    border-radius: 5px;
    width: 30px;
    align-self: flex-end;
    color:#3b4157;
    text-align: center;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}
.alefList{
    padding: 1rem;
    direction: rtl;
    list-style: none;
}
.alefList>li{
    color:grey;
}
.alefList>li span:hover{
    padding-bottom: .5rem;
    cursor: pointer;
    color:#1780df;
    border-bottom: 2px dashed #1780df ;
}
.alefList>li:not(:last-child){
    margin-bottom: 1.5rem;
    color:grey;
}
.footer{
    font-size: 80%;
    background-color: #1780df;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
}
.footerRightContainer{
    padding: 1rem;
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1rem;



}
.footerRightContainer p {

    line-height: 1.5rem;
    direction: rtl;
    color: white;
    margin-top: 1rem;
}
.footerRightContainer img{

}
.footerMiddleContainer{
    margin-right: 5rem;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.middleBox{
    margin-right: 3rem;
}
.middleBox span{
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
}
.middleBox span:hover{
    background-color: white;
    color:#1780df ;
    cursor: pointer;
}
.footerLeftContainer{
    display: flex;
    flex-direction: column;
}
.logoContainer{
    display: flex;
    flex-direction: row-reverse;
}
.logoContainer>img{
    background-color: white;
    width: 7rem;
    height: 7rem;
    margin-right: 1rem;
    border-radius: 1rem;
}
.socialContainer{
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
}
.socialContainer>svg{
    stroke: white;
}
.socialContainer>svg:not(:last-child){
    margin-right: 4rem;
}