@font-face {
    font-family: 'iransans';
    src: URL('Iranian\ Sans.ttf ') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 80%;
    font-family: "iransans";
    background-color: #fafafa;
}
.saken {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5f2fe;
    width: 100%;
    height: 70px;
}

.sakenContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 75%;
    height: 100%;
}
@media only screen and (max-width:1470px){
    .sakenContainer{
        width: 90%;
    }
}
@media only screen and (max-width:1236){
    .sakenContainer{
        width: 100%;
    }
}
.cross {
    font-size: 1.5rem;
    color: #1780df
}

.cross:hover {
    cursor: pointer;
    color: #ee6b64;
}


.saken-text {
    color: #6e7794;
    font-size: 1rem;
    font-weight: 400;
    font-family: "iransans";
    direction: rtl;
}

.button {
    cursor: pointer;
    background-color: #1780df;
    font-family: "iransans";
    font-weight: 100;
    font-size: .9rem;
    display: flex;
    margin-right: auto;
    height: 3rem;
    width: 11rem;
    justify-content: center;
    color: white;
    align-items: center;
    border-radius: 10px;
}

.menuBar {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.menuContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    height: 100%;
}

.navContainer {
    display: flex;
    flex-direction: row-reverse;
    line-height: 80px;
    display: flex;
    list-style: none;
    position: relative;
}
.magni{
    margin-top: .4rem;
}
.menuLogo img {
    height: 75%;
    width: 150px;
    margin-top: 3px;
}

.navContainer li {
    font-family: "iransans";
    display: flex;
    margin-left: 50px;
    font-size: 1rem;
    font-weight: 400;
    color: #3b4157;
}

.navContainer li:hover {
    cursor: pointer;
    color: #fb815e;
}

.navContainer li div {
    height: 100%;
    width: 10%;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    font-family: "iransans";
    background-color: #ededed;
    direction: rtl;
    height: 40px;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    color: #1780df;
    margin-top: 19px;
    margin-right: auto;
}
.loginButton:hover{
    cursor: pointer;
}
.modal{
    background-color: white;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 30rem;
    position: absolute;
    top: 5rem;
    right: 7rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;


}
.rightModalContainer{
    margin-right: 1rem;
    width: 30%;
    height: 100%;

}
.rightModalContainerMenu{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.rightModalContainerMenu>li {
    display: flex;
    direction: rtl;
    font-size: .8rem;
}
.rightModalContainerMenu>li>img {
    margin-left: .5rem;
}
.middleModalContainer{
    margin-right: 1rem;
    width: 30%;
    height: 100%;

}
.leftModalContainer{
    margin-right: 1rem;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftModalContainer img{
    height: 90%;
}
.otherSpecials{
    background-color:white ;
    border:2px solid #fb815e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fb815e;
    width: 60%;
    height: 3rem;
    font-family: "iransans";
    font-size: 1rem;
    border-radius: 10px;
    transition: all .2s;

}
.otherSpecials:hover{
    background-color:#fb815e ;
    color: white;
}
.specialList:hover + .modal{
    display: flex;


}
.searchIcon{
    color: #1780df;
    width: 1rem;
    height: 1rem;
    margin-left: auto;
}
.header{
 
    width: 100%;
    height: 5rem;
    display: flex;
    direction: rtl;
    align-items: center;

}

.headerList{
    
    display: flex;
    flex-direction: row;
   height: 100%;
   width: 75%;
    align-items: center;
    margin: 1rem auto;

}
.headerList>li{
    display: flex;
    height: 80%;
   align-items: center;
    
    color: #3b4157;
   
   
}
.part span{
    color: #1780df;
  

}
.icon-left-open{
    color: #1780df;
   
    
    

}
.part:hover{
    cursor: pointer;
}
.part1 span{
    color: #6e7794;
}
.Whole{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.main{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    width: 75%;
    
}
.rightSide{
    position: sticky;
    top: 0;
    background-color: #1780df;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 30%;
    border-radius: .5rem;
   margin-top: 1rem;
}
.firstPart{
  
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5rem;
}
.firstPart svg:hover{
    fill: #fb815e;
    border: 0 solid #e2e8f0;

}
.imageDR{
    border-radius: 50%;
   width: 7rem;
   height: 6.8rem;
   background-position: center;
   margin-right: auto;
   margin-left: auto;
}
.secondPart{
    width: 100%;
    height: 27%;
    display:flex ;
    flex-direction: column;
    direction: rtl;
    align-items: center;
   color: white;
    
}
.text{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.thirdPart{
    width: 90%;
    flex-direction: row-reverse;
    height: 27%;
    padding: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  border-radius: .8rem;

}
.secondPart h1{
    margin-top: .3rem;
    
}
.Right{
    
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
  align-items: center;
  color: #6e7794;
}

.firstText1{
    margin-top: .5rem;
}
.secondText1{
    margin-top: .5rem;
    display: flex;
    direction: rtl;
}
.center{
 
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
  align-items: center;
color: #6e7794;


}
.firstText2{
    margin-top: .5rem;

}
.secondText2{
    margin-top: .5rem;
    display: flex;
    direction: rtl;
}
.left{
   
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
  align-items: center;
color: #6e7794;
}
.firstText3{
    margin-top: .5rem;
}
.secondText3{
    margin-top: .5rem;
    display: flex;
    direction: rtl;
}
.rightSide svg:hover{
    cursor: pointer;
    fill: #fb815e;
}
.mainPart{
    height: 150vh;
    width: 60%;
    display: flex;
  flex-direction: column;
  margin-right: 3rem;
}
.firstBox{
    background-color:white;
border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    height: 30%;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.top{
   background-color:white;
   border-radius: .5rem .5rem 0 0;
    width: 100%;
    height: 30%;
    border:1px solid rgba(0,0,0,.125) ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 1rem;

}
.matab{
    height: 50%;
    width: 30%;
    background-color:#1780df;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    border-radius: .3rem;
    margin-right: 1rem;
   
}
.matab:active{
    cursor: pointer;
   border: .1rem solid black;
}
.icon-sort-down{
    margin-right: auto;
}
.textMatab{
    width: 45%;
    height: 80%;
    background-color: white;
    display: flex;
    direction: rtl;
    justify-content: center;
align-items: center;
    color:#1780df;
    border-radius: .3rem;
    
}
.days{
    width: 100%;
    height: 70%;
}
.Day{
    
    height: 65%;
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}
.choose{
    margin-top: 1rem;
display: flex;
justify-content: center;
align-items: center;
height: 35%;
width: 100%;
color: #6e7794;
direction: rtl;
      
}
.dayfeature{
   
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
    display: flex;
   flex-direction: row-reverse;
   
    justify-content: space-evenly;
}
.dayfeature>li{
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-direction: column;
    height: 6rem;
    width: 6rem;
align-items: center;
justify-content: center;
border-radius: .5rem;
color: #6e7794;


}
.Feature {
  display: flex;
  margin-top: .5rem;
  background-color: #ededed;
}
.Feature:Hover{
    cursor: pointer;

}
.DayWeek{
margin-bottom: 1rem;

}
.month{
    margin-top: 1rem;
}
.icon-arrowLeft{
    font-size: large;
}
.Day svg{
    color: #fb815e;
}
.Day svg:hover{
    cursor: pointer;
    color: red;
}

.garde{
    width: 100%;
    height: 15%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,.125);
  
}
.emtiaz{
    background-color: #e5f2fe;
    height: 60%;
    width: 15%;
    border: 1px solid rgba(0,0,0,.125);

    margin-right: 1rem;
    display: flex;
   border-radius: .3rem;
    align-items: center;
    flex-direction: column;
}
.number{
    font-size: 2.5rem;
    display: flex;
    color: #1780df;
    justify-content: center;
    margin-top: .5rem;
}
.star{
    display: flex;
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.emtiaz span{
    margin-top: 1rem;
    color: #6e7794;
}
.side-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    margin-right: 1.2rem;
direction: rtl;
    border-radius: 1rem;
}
.nazarat{
    display: flex;
    align-items: center;
    width: 100%;
   background-color:white;
   color: #6e7794;
    height: 10%;
    border-radius: 1rem;
    margin-top: 1rem;

  
}
.Comment{
   background-color:white;
    height: 40%;
    width:100%;
    display: flex;
    margin-left: 5rem;
   direction: rtl;
   padding: .5rem;
   align-items: center;
  
}
.finalPart{
    background-color: white;
    height: 20%;
    width: 100%;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.circle{
    background-color: white;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon-circle-empty{
    color: #ededed;
    font-size: smaller;

}

.finalPart svg{
    margin-right: .8rem;
    margin-left: .5rem;
}

.icon-circle-empty:hover{
    cursor: pointer;
}
.mainAdress{
 background-color: white;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    margin-top:1rem;
}
.topside{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,.125);

    
}
.information{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1780df ;
    border-radius: .5rem;
    flex-direction:row-reverse ;
    background-color: white;
}
.information span{
    margin-right: .4rem;
}
.dates{
    height: 100%;
    width: 80%;
    background-color: #ededed;
    display: flex;
    flex-direction: row-reverse;
   align-items: center;
   color:#6e7794 ;
   padding: 1rem;
    
}
.dates span{
    margin-right: .4rem;
}
.downside{
    height: 85%;
    width: 100%;
    display: flex;
    border: 1px solid rgba(0,0,0,.125);

    flex-direction: column;
    background-color: white;
    border-radius: .5rem;
}
.top-side{
    background-color: #fb815e;
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

}
.down-side{
    background-color: white;
    height: 50%;
    width: 100%;
    display: flex;
    border-radius: .5rem;

    flex-direction: row-reverse;
}
.imageLocation{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}
.imageLocation img{
    width: 14.5rem;
    height: 9.5rem;
    border-radius: 1rem;
}
.textLocation{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    direction: rtl;
    flex-direction: column;
    padding: 1rem;
}

.textLocation span{
    margin-right: .5rem;
    margin-top: 1.5rem;
}
.textLocation h4{
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-right: .5rem;
}
.imageLocation2{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
border-radius: .5rem;
    background-color: white;
}
.imageLocation2 img{
    width: 14.5rem;
    height: 9.5rem;
    border-radius: 1rem;
}
.textLocation2{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    direction: rtl;
 border-radius: .5rem;
 border-radius: .5rem;
    flex-direction: column;

}
.textLocation2 h4{
    font-size: 1rem;
    margin-bottom: 1.5rem; 
    margin-right: .5rem;
}
.textLocation2 span{
    margin-right: .5rem;
    margin-bottom: 1.5rem;
}
.textLocation2 h3{
    margin-right: .5rem;
}
.arrowLeftSpan{
    border: 1px solid #fb815e;
border-radius: 50%;
width: 2rem;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
margin-left: 1rem;
}
.arrowLeftSpan svg{
    fill: #fb815e;

}
.arrowRightSpan{
    border: 1px solid #fb815e;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;

}
.arrowRightSpan svg {
    fill: #fb815e;


}
.chooseAdress{
    font-size: 1rem;
    
}
.specialServicesContainer{ 
    margin-top: 1rem;
    width: 100%;
    height: 800px;
    background-image: url(/img/coronaBox.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.specialServicesFlexBox{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.specialServicesHeader{
    text-align: center;
    font-size: 28px;
    direction: rtl;
    color: white;
    font-family: "iransans";
    margin-top: 50px;
}
.coronaBoxContainer{
    margin-top: 10%;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}
.pcrTestContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.onlineTestContainer{
    width: 40%;
}
.pcrImage{
    height: 50%;
    background-image: url(/img/pcrTest.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.onlineImage{
    background-image: url(/img/onlineTest.png);
}
.pcrTitle{
    font-family: "iransans";
    direction: rtl;
    color: white;
    text-align: center;
    font-size: 20px;
}
.pcrText{
    padding: 20px;
    margin-top: 15px;
    direction: rtl;
    color: white;
    font-family: "iransans";
    font-size: 15px;
    text-align: justify;
    line-height: 2rem;
}
.coronaBoxButton{
    display: flex;
    background-color: #fb815e;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: 10%;
    border: 2px solid white;
    color: white;
    font-family: "iransans";
    font-size: 10px;
    border-radius: 10px;
    position: relative;
}
.coronaBoxButton:hover{
    cursor: pointer;
    background-color: white;
    color: #1780df
}
.coronaBoxButton span{
    position: absolute;
    left: 0;
    font-size: 25px;
    font-weight: 700;
}
.mainBodyContainer {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.applicationContainer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
}
.applicationImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.applicationImage{
    height: 70%;
    width: 80%;
    background-image: url(/img/applicationImage.png);
    background-repeat: no-repeat;
    background-size: contain;

}
.socialContainer{
    display: flex;
    flex-direction: row-row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
}
.socialContainer img {
    margin-left: 10px;
    width: 6%;
    cursor: pointer;
}

.applicationDownloadContainer{
    width: 50%;
    height: 100%;
    position: relative;
}
.applicationDownloadBox{
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 80%;
}
.applicationDownloadTitle{
    font-family: "iransans";
    font-size:20px;
    direction: rtl;
    color: #3b4157;
}
.applicationDownloadText{
    font-family: "iransans";
    font-size:14px;
    direction: rtl;
    color: #3b4157;
    margin-top: 30px;
    text-align: right;
    line-height: 2rem;
}
.enterMobileText{
    margin-top: 20%;
    direction: rtl;
    font-family: "iransans";
    color: #3b4157;
    font-size:15px;
}
.mobileContainer{
    width: 100%;
    height: 25%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.mobileInput{
    background-color: white;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    height: 90%;
    width: 60%;
    padding: 10px;
    font-family: "iransans";
    direction: rtl;
    font-size:10px;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.signupButton{
    margin-right: 1rem;
    width: 70%;
    height: 90%;
    background-color: #f85b2f;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: "iransans";
    position: relative;
    z-index: 1;
    border: none;
    transition: all .5s;
}
.signupButton::before{
    transition: all .5s;
    position: absolute;
    right:0;
    content: "";
    height: 100%;
    width: 5rem;
    background-color: #c4978b;
    border-radius: 15px;
    z-index: -1;
}
.signupButton:hover::before{
    width: 100%;
}
.signupButtonIcon{
    position: relative;
    margin-right: 5%;
    text-align: center;
    margin-left: 30%;
    font-size-adjust: 20px;
    color: white;
    z-index: 12;
}
.nobatbegir{
    width: 90%;
    height: 4rem;
    background-color: #fb815e;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.nobatbegir:hover{
    cursor: pointer;
    background-color: #fa6439;
}
.footer{
    padding: 1rem;
    background-color: #1780df;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1rem;
}
.footerRightContainer{
    padding: 1rem;
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1rem;


}
.footerRightContainer p {

    line-height: 1.5rem;
    direction: rtl;
    color: white;
    margin-top: 1rem;
}
.footerRightContainer img{

}
.footerMiddleContainer{
    margin-right: 5rem;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.middleBox{
    margin-right: 3rem;
}
.middleBox span{
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
}
.middleBox span:hover{
    background-color: white;
    color:#1780df ;
    cursor: pointer;
}
.footerLeftContainer{
    display: flex;
    flex-direction: column;
}
.logoContainer{
    display: flex;
    flex-direction: row-reverse;
}
.logoContainer>img{
    background-color: white;
    width: 7rem;
    height: 7rem;
    margin-right: 1rem;
    border-radius: 1rem;
}
.socialContainer{
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
}
.socialContainer>svg{
    stroke: white;
}
.socialContainer>svg:not(:last-child){
    margin-right: 4rem;
}
.phone2{
    margin-top: 1rem;
}