@font-face {
    font-family: 'iransans';
    src: URL('Iranian\ Sans.ttf ') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 80%;
    font-family: "iransans";
}
.header{
 
    width: 100%;
    height: 5rem;
    display: flex;
    direction: rtl;
    align-items: center;

}

.headerList{
    
    display: flex;
    flex-direction: row;
    margin: 0px auto;
   height: 100%;
   width: 30%;
    flex-wrap: wrap;
    align-items: center;
  padding-right: .5rem;
  margin-right: 10rem;

}
.headerList>li{
    display: flex;
    height: 80%;
   align-items: center;
    
    color: #3b4157;
   
   
}
.part span{
    color: #1780df;
  

}
.icon-left-open{
    color: #1780df;
   
    
    

}
.part:hover{
    cursor: pointer;
}
.part1 span{
    color: #6e7794;
}
.Whole{
    height: 200vh;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.main{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    
}
.rightSide{
    position: sticky;
    top: 0;
    background-color: #1780df;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 30%;
    border-radius: .5rem;
   margin-top: 1rem;
}
.firstPart{
  
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5rem;
}
.imageDR{
    border-radius: 50%;
   width: 7rem;
   height: 6.8rem;
   background-position: center;
   margin-right: auto;
   margin-left: auto;
}
.secondPart{
    width: 100%;
    height: 27%;
    display:flex ;
    flex-direction: column;
    direction: rtl;
    align-items: center;
   color: white;
    
}
.text{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.thirdPart{
    width: 90%;
    flex-direction: row-reverse;
    height: 27%;
    padding: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  border-radius: .8rem;

}
.secondPart h1{
    margin-top: .3rem;
    
}
.Right{
    
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
  align-items: center;
  color: #6e7794;
}

.firstText1{
    margin-top: .5rem;
}
.secondText1{
    margin-top: .5rem;
    display: flex;
    direction: rtl;
}
.center{
 
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
  align-items: center;
color: #6e7794;


}
.firstText2{
    margin-top: .5rem;

}
.secondText2{
    margin-top: .5rem;
    display: flex;
    direction: rtl;
}
.left{
   
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
  align-items: center;
color: #6e7794;
}
.firstText3{
    margin-top: .5rem;
}
.secondText3{
    margin-top: .5rem;
    display: flex;
    direction: rtl;
}
.rightSide svg:hover{
    cursor: pointer;
    stroke: red;
    fill: red;
}
.mainPart{
    background-color: white;
    height: 150vh;
    width: 55%;
    display: flex;
  flex-direction: column;
  margin-right: 3rem;
}
.firstBox{
    background-color:white;
border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    height: 30%;
    margin-top: 1rem;
    border-radius: 1rem;
}
.top{
   background-color:white;
   border-radius: .5rem;
    width: 100%;
    height: 20%;
    border:1px solid rgba(0,0,0,.125) ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}
.matab{
    height: 50%;
    width: 30%;
    background-color:#1780df;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    border-radius: .3rem;
    margin-right: 1rem;
   
}
.matab:active{
    cursor: pointer;
   border: .1rem solid black;
}
.icon-sort-down{
    margin-right: auto;
}
.textMatab{
    width: 45%;
    height: 80%;
    background-color: white;
    display: flex;
    direction: rtl;
    justify-content: center;
align-items: center;
    color:#1780df;
    border-radius: .3rem;
    
}
.days{
    width: 100%;
    height: 50%;
}
.Day{
    
    height: 65%;
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}
.choose{
display: flex;
justify-content: center;
align-items: center;
height: 35%;
width: 100%;
color: #6e7794;
direction: rtl;
      
}
.dayfeature{
   
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
    display: flex;
   flex-direction: row-reverse;
   
    justify-content: space-evenly;
}
.dayfeature>li{
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-direction: column;
    height: 6rem;
    width: 6rem;
align-items: center;
justify-content: center;
border-radius: .5rem;
color: #6e7794;


}
.Feature {
  display: flex;
  margin-top: .5rem;
  background-color: #c8ccd4;
}
.Feature:Hover{
    cursor: pointer;

}
.DayWeek{
margin-bottom: 1rem;

}
.month{
    margin-top: 1rem;
}
.icon-arrowLeft{
    font-size: large;
}
.Day svg{
    color: #fb815e;
}
.Day svg:hover{
    cursor: pointer;
    color: red;
}

.garde{
    width: 100%;
    height: 20%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,.125);
  
}
.emtiaz{
    background-color: #e5f2fe;
    height: 50%;
    width: 15%;
    border: 1px solid rgba(0,0,0,.125);

    margin-right: 1rem;
    display: flex;
   border-radius: .3rem;
    align-items: center;
    flex-direction: column;
}
.number{
    font-size: 2.5rem;
    display: flex;
    color: #1780df;
    justify-content: center;
    margin-top: .5rem;
}
.star{
    display: flex;
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.emtiaz span{
    margin-top: 1rem;
    color: #6e7794;
}
.side-left{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 80%;
    margin-right: 1.2rem;
direction: rtl;
    border-radius: 1rem;
}
.nazarat{
    display: flex;
    align-items: center;
    width: 100%;
   background-color:white;
   color: #6e7794;
    height: 60%;
    border-radius: 1rem;

  
}
.Comment{
   background-color:white;
    height: 40%;
    width:100%;
    display: flex;
    margin-left: 5rem;
   direction: rtl;
   padding: .5rem;
   align-items: center;
  
}
.finalPart{
    background-color: white;
    height: 20%;
    width: 100%;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    
}
.circle{
    background-color: white;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon-circle-empty{
    color: #ededed;
    font-size: smaller;

}

.finalPart svg{
    margin-right: .8rem;
    margin-left: .5rem;
}
.finalPart svg:hover{
    cursor: pointer;
    color: #1780df;
}
.circle:hover{
    cursor: pointer;

}
.mainAdress{
 background-color: white;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    margin-top:1rem;
}
.topside{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,.125);

    
}
.information{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1780df ;
    border-radius: .5rem;
    flex-direction:row-reverse ;
    background-color: white;
}
.information span{
    margin-right: .4rem;
}
.dates{
    height: 100%;
    width: 80%;
    background-color: #ededed;
    display: flex;
    flex-direction: row-reverse;
   align-items: center;
   color:#6e7794 ;
   padding: 1rem;
    
}
.dates span{
    margin-right: .4rem;
}
.downside{
    height: 85%;
    width: 100%;
    display: flex;
    border: 1px solid rgba(0,0,0,.125);

    flex-direction: column;
    background-color: white;
    border-radius: .5rem;
}
.top-side{
    background-color: #fb815e;
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

}
.down-side{
    background-color: white;
    height: 50%;
    width: 100%;
    display: flex;
    border-radius: .5remm;
    border: 1px solid rgba(0,0,0,.125);

    flex-direction: row-reverse;
}
.imageLocation{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}
.imageLocation img{
    width: 14.5rem;
    height: 9.5rem;
    border-radius: 1rem;
}
.textLocation{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    direction: rtl;
    flex-direction: column;
    padding: 1rem;
}

.textLocation span{
    margin-right: .5rem;
    margin-top: 1.5rem;
}
.textLocation h4{
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-right: .5rem;
}
.imageLocation2{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
border-radius: .5rem;
    background-color: white;
}
.imageLocation2 img{
    width: 14.5rem;
    height: 9.5rem;
    border-radius: 1rem;
}
.textLocation2{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    direction: rtl;
 border-radius: .5rem;
 border-radius: .5rem;
    flex-direction: column;

}
.textLocation2 h4{
    font-size: 1rem;
    margin-bottom: 1.5rem; 
    margin-right: .5rem;
}
.textLocation2 span{
    margin-right: .5rem;
    margin-bottom: 1.5rem;
}
.textLocation2 h3{
    margin-right: .5rem;
}